@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap');

$bgc-color: white;
$menu-color-mobile: black;
$footer-color: darken(#352F44, 10%);

$spacing-mobile: 30px;
$spacing-desktop: 20px;

$menu-font: 'Josefin Sans', sans-serif;
$main-font: 'Josefin Sans', sans-serif;
$title-font: 'Roboto', sans-serif;
$header-font: 'Work Sans', sans-serif;
$form-font: 'Roboto Mono', monospace;

$special-fontcolor: #A08EE5;